/* Color Palette */
:root {
    --primary-color: #223847;
    --secondary-color: #98a9ab;
    --background-color: #f9f9f9;
    --text-color: #333;
}

/* Global Styles */
body {
    font-family: 'Montserrat Medium', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Navigation Styles */
nav {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #d09f0b;
}

/* Main Content Styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.left-column {
    width: 60%;
}

.right-column {
    width: 30%;

}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 480px){


    .right-column{
        width: 80%;
        margin-right: 3px;

    }
}